
	<div class="main-grid-cell">
		<a href="/2014/09/12/ep1-batman-slap.html" title="1 x 1 : Waking Up">
			<img src="/assets/season_1_thumb.png" border="0" />
		</a>
	</div>
	<div class="main-grid-cell">
		<a href="/2015/10/21/ep201.html" title="2 x 1 : ">
			<img src="/assets/season_2_thumb.png" border="0" />
		</a>
	</div>

	<h3>The Episodes</h3>
		
	<div style="margin-left: auto; margin-right: auto; width: 740px;">
		{% for post in site.posts reversed %}
			{% if post.page_img %}
			{% if post.draft != 1 or include.show_drafts == 1 %}
			
			<div class="grid-cell">
				<a href="{{ site.url }}{{ post.url }}" title="{{ post.title | xml_escape }}">
					<img src="{{ post.page_img }}" border="0" />
				</a>
			</div>
			{% endif %}
			{% endif %}
		{% endfor %}
	</div>
	<div style="clear: both"></div>
