<p>
    A lot of so-called first world problems
    are also problems in developing nations.
    You think you're the only one to try to
    figure out whether to get a PS4 or an
    XBox One?
</p>
<p>
    This new schedule has proven easier to
    maintain. The jokes are 10% funnier,
    which is on target. They are also
    easier to put together.
</p>
<p> 
    And I still
    have plenty of space to drive the
    plot. I think. The plot is pretty sparse
    right now, but it's inching toward
    where I want it to go.
</p>
<p>
    Carry on!
</p>
