<p>
	By Watching You took a serious turn this week when Jesus confronted Batman with the power that a meme can have.
</p>

<p>
	This episode is dedicated to all those who lost their lives in the Charlie Hebdo shootings last Wednesday and in the days that followed.
</p>

<p>
One frame of this comic is censored out. It wouldn't have contained anything that a jihadist would care about anyway. "Censorship" is a strong meme and it can work to highlight evil just like censored material can. Like the Streisand Effect or when the statement "No Comment" actually is a comment.
</p>

<p>
Here's me heaping scorn on whomever kills just because they are offended and brainwashed. ‪#‎JeSuisCharlie‬
</p>
