
<p>
	The Dress and Leonard Nimoy dropped on the same day.
</p>

<p>
	So insensitive. Actually, <a href="https://twitter.com/hashtag/thedress">#TheDress</a>
	got big the night before, but it was eating entire Facebook newsfeeds
	the next morning and it showed no signs of slowing down.
</p>

<p>
	Until the Leonard Nimoy news broke. He was 83 and 
	died of COPD after a few days in the hospital. It was
	not a surprise to anyone who knew him. I didn't know him
	well enough to know, but I'm guessing no one he cared about
	was surprised. So I don't know if he was ready to go,
	but I'm sure he had some solace.
</p>

<p>
	I made this episode the day after that. And I posted
	on Facebook about how I was about to launch it Monday.
	But just before I got the chance, I too landed in the
	hospital. And I spent an hour thinking about death.
	I think Nimoy crossed my mind. Anyway, I'm fine but
	I can't drink Coke anymore.
</p>

<img src="http://i.imgur.com/uU1r2pK.png" style="float: right; width: 50%;" />

<p>
	And after that, I worried a lot less about launching
	this episode. In the meantime, the memes got stale.
	I don't apologize for late episodes, 'cause that's dumb.
	But I thought an explanation was in order. And I 
	secretly want your sympathy. :)
</p>

<div style="clear: both"></div>
