<p>
	<img src="/assets/garfield/BLT_radio.png" style="float: right; width: 25%" />
	I imagine the Noid with Jon Lovitz's voice. You know, 
	the radio from The Brave Little Toaster. 
</p>

<p>
	It took me until the last minute to figure out who 
	was gonna run Monsanto. I mean, uh... I have this 
	whole comic planned out in minute detail. Yeah, that's
	the ticket.
</p>

<p>
	When I remembered that I wanted to get the Noid involved
	it all fell together. And the 
	<a href="http://knowyourmeme.com/memes/troll-science-troll-physics">troll physics</a>
	scientists were the
	obvious choice to work at Monsanto. Monsanto really does
	troll sometimes. Makes me laugh pretty hard.
</p>

<p>
	Keen eyed cake-eaters will recognize the interior of
	Monsanto Labs as another lab facility repurposed. That's
	because there is no popular meme that shows the inside of
	Monsanto. And an unpopular meme just wouldn't be able
	to produce the kind of morale necessary to lead a team
	of Internet troll scientists to save a meme
	that <a href="http://priceonomics.com/how-dominos-pizza-lost-its-mascot/">really should be dead</a>.
</p>

<p>
	Rest easy faithful readers, this is not the last we'll see of the Noid.
</p>
