<p>
    Why's life gotta shit on poor Batman meme?
    He can't catch a break. He keeps invading
    other people's memes and somehow they don't
    thank him and just go away.
</p>
<p>
    Maybe we can all learn a lesson from this.
    Or maybe this is dangerously close to ABC
    After School Special territory.
</p>
<p>
    Anyway, I hope this sums up what's been
    going on in this season for anyone who feels
    that three panels isn't cutting the mustard
    for plot exposition.
</p>
<p>
    Hey, when you cut mustard do you hope to end up
    with mus and tard or must and ard?
</p>
