<p>
	The Abbey Road album cover
	is already viral enough to be a meme on its own. In this episode 
	I got to revisit what a meme is.
</p>
<p>
	To count, a meme really should 
	mutate and have several competing variations. That hasn't happened 
	much in previous episodes
	because it's not really necessary for the story, but this
	time it helps highlight the upshot: Monsanto. Since they modify
	genes it made sense to have the characters driving past modified
	memes.
</p>
<p>
	All the backgrounds came from 
	<a href="http://knowyourmeme.com/memes/abbey-road-parodies">just one page on knowyourmeme.com</a>. I picked my favorites. Check them out, link your favorites in the comments.
</p>
