<p>
	I'm a pretty big Back to the Future fan. So to ring in the New Year, I thought I'd make this episode all about
	the only thing that 2015 is good for. Traveling to it through time.
</p>

<p>
	Also, Jesus needed a task to give Batman. Not too big, it's a first level job. But something he could puzzle over.
	And my personal pet peeve seemed like the right place to start.
</p>

<p>
	All of 2014 and some of 2013 was full of people sharing the "Today is Back to the Future Day" meme. Any fool knows 
	that's in 2015. By the way, you can <a href="http://www.itsbacktothefutureday.com/">create your own "Today is Back
	to the Future Day" meme</a>. Or
	sign the <a href="https://petitions.whitehouse.gov/petition/declare-oct-21-national-back-future-day/SrjDnZ6H">petition 
	to get the Whitehouse to recognize October 21st, 2015</a>. Don't do the first one, do the second one.
</p>

<p>
	#HappyNewYear!
</p>