<p>
	This one is a PSA. It's not quite true. Trolls can 
	bother you by throwing annoying stuff out in the
	world. But until you react, they can't gravitate
	toward you.
</p>

<p>
	This episode is getting too useful. Ugh.
	Next time, they'll play with nuclear waste. That's
	inadvisable enough to make for a good comic.
</p>

<p>
	BTW, this season is winding down! You didn't know
	this was just the first season, huh? I have some
	ideas for how I'll change next season. I'll work harder
	to make very short episodes without a lot of continuity
	required.
</p>
