<p>
    What's this? A call back to a previous episode?
    I told you this comic had a plot! Take that,
    doubters.
</p>
<p>
    On the off chance you've never heard the song, the lyrics
    go like this:
</p>
<ul>
    <li>Jingle bells</li>
    <li>Batman smells</li>
    <li>Robin laid an egg</li>
    <li>Batmobile</li>
    <li>Lost a wheel</li>
    <li>And the Joker got away</li>
    <li>Hey!</li>
</ul>    
<p>
    BTW, I checked. There are enough jokes on the Internet 
    where Batman says "I don't smell. :(". So this bonus
    panel is better than that.
</p>
