<p>
	This episode has another meme sourced from a comic. 
	You've seen the "All the Things" meme, you probably still
	don't know it comes from
	<a href="http://hyperboleandahalf.blogspot.com/2010/06/this-is-why-ill-never-be-adult.html">This is Why I'll Never be an Adult</a>.
	Good post, <a href="https://twitter.com/alliebrosh">@AllieBrosh</a>.
</p>

<p>
	<a href="http://knowyourmeme.com/memes/x-all-the-y">Know Your Meme</a>
	describes it with this hilariously dry
	sentence: "The comic describes the author's frustration 
	with her inability to maintain a consistent enthusiasm 
	for her daily responsibilities."
</p>

<p>
	The educational part of this comic (aw shit, I educated again)
	is mostly accurate. In actuality, it is not nuclear *waste* that
	is used to irradiate crops. 
	Cobalt-60 is the most common way to achieve
	<a href="http://en.wikipedia.org/wiki/Mutation_breeding#Radiation_breeding">radiation breeding</a>
	and it's produced for that purpose, it's not waste. But it is sometimes 
	created by exposing cobalt-59 to nuclear power reactors.
</p>

<p>
	This is all stuff I learned on Wikipedia. The best part of the 
	Wikipedia article on 
	<a href="http://en.wikipedia.org/wiki/Cobalt-60">cobalt-60</a>
	is this:
</p>

<p>
	"The truck was recovered shortly after, but it was discovered 
	that the thieves had removed the [cobalt-60] source from its 
	shielding. The source was found abandoned and intact in a field 
	close by, and authorities stated that the thieves were 
	'likely doomed'."
</p>

<p>
	Doomed! Or they've transformed into superheroes/villains. I hope there 
	was an even number of thieves because then we can be fairly sure
	there's at least one hero for each villain.
</p>

<p>
	Anyway, it's time to figure out what memetic thing CAN produce
	enough radiation to super mutate a meme. I've definitely already
	figured that out. You bet. But... And I'm just curious. What
	would you suggest?
</p>

<p>
	Leave your Radioactive Meme suggestions in the comments below
	or on the
	<a href="https://www.facebook.com/bywatchingyou">By Watching You</a>
	Facebook page
	or tweet 
	<a href="https://twitter.com/ByWatchingYou">@ByWatchingYou</a>.
</p>
