
<p>
	I think if Jesus meme was left in a room with some 
	people who didn't really have anywhere else to go
	he'd start yacking about his exploits. "Then
	I rubbed mud in a guy's eyes, lol." And "They broke
	in through the fucking roof! We were so high."
</p>

<p>
	BTW, the reason they're going to MySpace and not Napster
	is that Napster is dead. You can't even get there
	from the meme world. I probably won't get around to
	explaining it in the comic, so there's that tidbit
	right now. You win because you read. And you thought
	you'd never use "reading" in real life.
</p>

<p>
	Why is dolan here? Oh god, what have I done?
</p>
