<p>
	This one is a PSA. It's not quite true. Trolls can 
	bother you by throwing annoying stuff out in the
	world. But until you react, they can't gravitate
	toward you.
</p>

<p>
	I got to use some of the 
	<a href="http://knowyourmeme.com/memes/troll-science-troll-physics">troll physics</a>
	memes I didn't get to use last time.
</p>

<p>
	This episode is getting too useful. Ugh.
	Next time, they'll play with nuclear waste. That's
	inadvisable enough to make for a good comic.
</p>

<p>
	You mad, bro?
</p>
