<p>
    Psst.
</p>
<p>
    Ever heard of <a href="http://beststoriesonline.com/science/2015/10/01/Weird-Facebook-Normie-Facebook.html">Weird Facebook</a>?
</p>
<p>
    It's not a secret or anything. There are some parts of
    the Internet just dedicated to oddity. A lot of weird
    stuff gets generated, and Sturgeon's Law says that
    10% of it isn't even crap!
</p>
<p>
    I lifted all the memes in this episode directly from
    Weird Facebook groups, some of which I participate in.
</p>
<p>
    Actually I've been accused of converting this comic
    to a Weird Facebook format. That isn't the objective
    and it won't happen on purpose. But that doesn't mean 
    we cannot visit and learn a few things.
</p>