
<p>
	The first meme here is actually a whole single-frame
	comic by Sara Zimmerman of 
	<a href="http://unearthedcomics.com">unearthedcomics.com</a>.
	Actually, there's no reason to think she is pro- or anti-GMO
	based on that comic. So maybe it doesn't belong here.
	OTOH, memes don't obey their creators.
</p>
<p>
	Monsanto certainly does not make up all their own
	memes in real life. So I hope you're not disappointed
	that this is not a story wholely informed by facts.
</p>
<p>
	Monsanto has to fight memes every day. Maybe they
	should make a department for that, headed by people
	similarly dedicated to memetics as other departments
	are to genetics.
</p>
<p>
	Maybe they already do.
</p>
<p>
	Anyway, Monsanto, make my shill check payable to CASH.
	Wait, you can tell that this is a pro-Monsanto episode,
	right?
</p>