<p>
    Welcome Back!
</p>
<p>
    I had a good summer. Actually it went by too quickly
    and was filled with the most mind numbing work I've
    done in my day job.
</p>
<p>
    I'm gonna be putting out two short-strip episodes a week
    now. It should be quicker for me to make and 30% funnier.
    Which is about 10% as funny as a comic needs to be.
</p>
<p>
    I had to rework the site format a bit to handle 3 horizontal
    panels. And we got a new banner! I like it, myself.
</p>
<p>
    Everything's coming up Milhouse. See ya Friday!
</p>
