     
<div style="float: right; width: 100px; margin-right: 1em; font-style: normal; font-variant: normal; font-weight: normal; font-family: impact;">
	{% if page.next %}
	<a href= "{{ page.next.url }}" style="display: block; text-align: center; width: 100px; height: 25px; margin: .25em; padding: .25em; border-radius: 5px; border: 1px solid #248; background-color: #248">NEXT &gt;&gt;&gt;&gt;</a>
		<script type="text/javascript">
		window.go_next_page = function(){
			location = "{{ page.next.url }}";
		};
		</script>
	{% endif %}

	{% if page.previous %}
	<a href="{{ page.previous.url }}" style="display: block; text-align: center; width: 100px; height: 25px; margin: .25em; padding: .25em; border-radius: 5px; border: 1px solid #248; background-color: #248">&lt;&lt;&lt;&lt; PREV</div>
	<script type="text/javascript">
	window.go_previous_page = function(){
		location = "{{ page.previous.url }}";
	};
	</script>
	{% endif %}
</div>

	<script type="text/javascript">
	document.body.onkeydown = function (event) {
		if (! event)
			event = window.event;
		if (event.altKey || event.ctrlKey || event.key && event.key.match(/^F\d+$/))
			return;
		var type = event.target.nodeName.toUpperCase();
		if (type == 'TEXTAREA' || type == 'INPUT' || type == 'SELECT')
			return;
		if (event.keyCode == 37 || String.fromCharCode(event.keyCode) == 'J'){
		  var x = window.scrollX;
		  setTimeout(function(){
		    if (window.scrollX == x)
		      window.go_next_page && window.go_next_page();
		  }, 0);
		}
		if (event.keyCode == 39 || String.fromCharCode(event.keyCode) == 'K'){
		  var x = window.scrollX;
		  setTimeout(function(){
		    if (window.scrollX == x)
		      window.go_previous_page && window.go_previous_page();
		  }, 0);
		}
		/*
		window.x.push(event.keyCode);
		    if (String.fromCharCode(event.keyCode).match(/^[a-z0-9\-]$/i))
			document.getElementById(id).focus();
		*/
	};
	</script>

	{% if page.no_ad %}
	{% else %}
	{% include ad.html %}
	{% endif %}

	<h1 style="font-style: normal; font-variant: normal; font-weight: normal; font-family: impact; margin-bottom: .25em;">{{ page.title }}</h1>

	<div style="width: 200px; font-size: 10pt;">
		<a href="{{ site.url }}{{ page.url }}">{{ page.date | date_to_long_string }}</a>
	</div>

	<div class="post-content">
		