
	</div>

	<div style="margin-top: 2em;">
		<div style="float: left;font-style: normal; font-variant: normal; font-weight: normal; font-family: impact;">
			{% if page.previous %}
				<a href="{{ page.previous.url }}" style="display: block; text-align: center; text-decoration: none; width: 100px;  margin: .25em; padding: .25em; border-radius: 5px; border: 1px solid #248; background-color: #248">&lt;&lt;&lt;&lt; 
					<br />
					<img src="{{ page.previous.page_img }}" style="width: 100px" />
				</a>
			
			{% else %}
				<a href="/" style="display: block; text-align: center; text-decoration: none; width: 100px; height: 25px; margin: .25em; padding: .25em; border-radius: 5px; border: 1px solid #248; background-color: #248">INDEX</a>
			
			{% endif %}
		</div>

		<div style="float: right;font-style: normal; font-variant: normal; font-weight: normal; font-family: impact;">
			{% if page.next and page.next.draft != 1 %}
				<a href= "{{ page.next.url }}" style="display: block; text-align: center; text-decoration: none; width: 100px;  margin: .25em; padding: .25em; border-radius: 5px; border: 1px solid #248; background-color: #248">&gt;&gt;&gt;&gt; 
					<br />
					<img src="{{ page.next.page_img }}" style="width: 100px;" />
				</a>
			{% else %}
				<div style="width: 275px;">
					<div style="display: table-cell; vertical-align: top; padding-right: 10px; text-align: right;">NO NEXT EPISODE YET!<br />BETTER FOLLOW US : </div>
					<div style="display: table-cell; padding-right: 10px; "><a href="https://www.facebook.com/bywatchingyou" target="_blank"><img src="/assets/facebook.png" /></a></div>
					<div style="display: table-cell; padding-right: 10px; "><a href="https://twitter.com/ByWatchingYou" target="_blank"><img src="/assets/twitter.png" /></a></div>
				</div>
			{% endif %}
		</div>

		<div style="clear: both;"></div>
	</div>

	<div style="margin-top: 2em;">
		{% if page.accept_comments %}
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
			<a class="addthis_counter addthis_pill_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-535560f75cdeeace"></script>
			<!-- AddThis Button END -->
		
			<div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="5" data-colorscheme="dark" data-width="765px"></div>
		{% else %}
			<!-- no comments accepted on this page -->
		{% endif %}
	</div>
