
<div style="margin: 1em;">

	<p>
		Batman and Robin 
		<a href="http://bywatchingyou.com/2014/09/12/ep1-batman-slap.html">wake up</a> 
		into a 
		<a href="http://bywatchingyou.com/2014/09/12/ep3-doge.html">strange world</a> 
		and soon learn that it's 
		<a href="http://bywatchingyou.com/2014/09/19/ep4-no-time-to-explain.html">built on memes</a>, 
		those images people pass around the Internet.
	</p>

	<p>
	In fact, they are not Batman and Robin. They are the memes of those characters.
	</p>

	<p>
		Now they're on a mission to find out 
		<a href="http://bywatchingyou.com/2014/10/03/ep5-honey-badger-dont-care.html">who woke them</a>
		into this horrible place. Are they the only ones awake?
	</p>

	<p>
		Meanwhile, Batman is having a 
		<a href="http://bywatchingyou.com/2014/11/21/ep8-bat-boy.html">hard time controlling himself</a>. 
		He feels the constant need to meme!
	</p>

</div>